.title {
    font-weight: bold;
    letter-spacing: -0.4px;
    font-size: 30px;
    color: var(--theme-default-font);
}

.subtitle {
    line-height: 24px;
    color: #8a8a8b;
    max-width: 544px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-top: 16px;
}