.footer__wrapper {
    padding: 0 32px 0 32px;
    border-top: 1px solid var(--theme-default-border);
    background: var(--theme-default-bg);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 1400px;
    height: 96px;
    color: #8a8a8b;
    font-size: 15px;
    margin: auto;

    a {
        border-bottom: 1px solid #8a8a8b;

        &:hover {
            border: none;
        }
    }
}